.weDo__main {
  width: 100vw;
  height: 90vh;
  margin-top: 80px;
}

.weDo__container {
  width: 85%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-image: url(../../../assets/backgroundAbbanKings.svg);
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: top right;
}

.head__two{
  line-height: 1.3;
}

.weDo__containerTop {
  width: 65%;
  margin-inline: auto;
  text-align: center;
}

.cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;

}

.card1 {
  background: url(../../../assets/cardImage1.jpeg);
  width: 400px;
  height: 350px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.658);
  background-blend-mode: multiply;
  border-radius: 5px;
  position: relative;
  box-shadow: var(--box-shadow);
}
.card2 {
  background: url(../../../assets/cardImage2.jpeg);
  width: 400px;
  height: 350px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.658);
  background-blend-mode: multiply;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: relative;
}
.card3 {
  background: url(../../../assets/sofware-developer-thinking-while-touching-beard-while-typing-laptop-sitting-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-background_482257-33556.jpeg);
  background-position: right;
  width: 400px;
  height: 350px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.658);
  background-blend-mode: multiply;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: relative;
}
.card4 {
  background: url(../../../assets/artifical-intelligence.jpg);
  background-position: center;
  width: 400px;
  height: 350px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.538);
  background-blend-mode: multiply;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.cards .paragraph1 {
  color: var(--white);
  width: 30%;
}
.cards .paragraph {
  color: var(--white);
  width: 46%;
}

.top {
  position: absolute;
  top: 20px;
  left: 20px;
}
.bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.paragraph{
    margin-bottom: 10px;
    line-height: 1.3;
}

@media screen and (max-width: 480px){
  .weDo__main{
    height: 100%;
  }
  .weDo__containerTop{
    width: 100%;
  }
  .cards{
    display: flex;
    flex-direction: column;
  }
  .card1, .card2, .card3{
    width: 100%;
  }
}
