<div class="weDo__main" id="about">
  <div class="weDo__container">
    <div class="weDo__containerTop">
      <p class="paragraph" data-aos="fade-up"  data-aos-offset="-350">WHAT WE DO</p>
      <h2 class="head__two" data-aos="fade-up"  data-aos-offset="-250">
        We harness the best, Information Technology has to offer to help our
        clients achieve optimal <span>productivity.</span>
      </h2>
    </div>
    <div class="weDo__containerBottom">
      <div class="sub__title" data-aos="fade-up"  data-aos-offset="-350">This is what we do best</div>
      <div class="cards">
        <div class="card1" data-aos="fade-right"
        data-aos-offset="-300"
        data-aos-easing="ease-in-sine">
            <div class="top">
              <p class="paragraph1"></p>
            </div>
            <div class="bottom">
              <p class="paragraph">Software Development</p>
            </div>
          </div>
          <div class="card2" data-aos="fade-right"
          data-aos-offset="-350"
          data-aos-easing="ease-in-sine">
            <div class="top">
              <p class="paragraph1"></p>
            </div>
            <div class="bottom">
              <p class="paragraph">DevOps & Infrastructure</p>
            </div>
          </div>
          <div class="card3" data-aos="fade-right"
          data-aos-offset="-250"
          data-aos-easing="ease-in-sine">
            <div class="top">
              <p class="paragraph1"></p>
            </div>
            <div class="bottom">
              <p class="paragraph">Mobile App Development</p>
            </div>
          </div>
          <div class="card4" data-aos="fade-right"
          data-aos-offset="-250"
          data-aos-easing="ease-in-sine">
            <div class="top">
              <p class="paragraph1"></p>
            </div>
            <div class="bottom">
              <p class="paragraph">Artificial Intelligence</p>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
