<div class="main__containe bg-white">
  <div
    class="main__wrapper grid grid-cols-1 gap-[5%] items-left justify-items-start md:grid md:grid-cols-2 md:gap-[10%] md:items-center md:justify-items-center"
  >
    <div class="content" id="WhatWeDoComponent">
      <div class="title">
        <h2 class="h2 pb-4 md:pb-6">We design. We build</h2>
      </div>

      <p class="paragraph">
        Our team specializes in crafting custom software solutions designed to
        meet your unique business needs. But we don’t stop at technical
        expertise. <br />
        <br />

        Our Agile development approach allows us to adapt to evolving
        requirements, delivering faster and smarter results. <br />
        <br />

        Combined with thoughtful UI/UX design, we create complex systems that
        are both visually stunning and intuitive to use. Our team is on ground
        to support your project every step of the way.
      </p>

      <div class="btn pt-4 md:pt-6">
        <div class="primary__button">
          <button (click)="openCalendly()">Get in touch</button>
        </div>
      </div>
    </div>

    <div class="image h-full md:h-[80%]">
      <img
        src="../../../assets/we-design.png"
        alt=""
        class="rounded-2xl w-[100%] h-[100%] md:w-full md:h-full"
      />
    </div>
  </div>
</div>
