<div class="tools__main" id="tools">
  <div class="tools__container">
    <div class="tools__left">
      <p class="paragraph" data-aos="fade-up"  data-aos-offset="-350">TOOLS WE WORK WITH</p>
      <h2 class="head__two" data-aos="fade-up"  data-aos-offset="-250">
        There's no point reinventing the wheel, we lean on the shoulders of the
        great Open Source giants.
      </h2>
    </div>
    <div class="tools__right" data-aos="fade"  data-aos-offset="-150">
        <div class="imgCard">
            <img src="../../../assets/oracle.png" alt="">
            <img src="../../../assets/php-logo-white.svg" alt="">
            <img src="../../../assets/azure.png" alt="">
            <img src="../../../assets/doctrine.svg" alt="">
            <img src="../../../assets/phpspec.png" alt="">
            <img src="../../../assets/html.png" alt="">
            <img src="../../../assets/mongodb.svg" alt="">
            <img src="../../../assets/docker.png" alt="">
            <img src="../../../assets/digital-oceean.png" alt="">
            <img src="../../../assets/typescript-logo.png" alt="">
            <img src="../../../assets/capacitor-js.svg" alt="">
            <img src="../../../assets/kurbenetes.png" alt="">
            <img src="../../../assets/aws.png" alt="">
            <img src="../../../assets/git.png" alt="">
            <img src="../../../assets/voltr.png" alt="">
            <img src="../../../assets/angular.svg" alt="">
            <img src="../../../assets/mysqll.png" alt="">
            <img src="../../../assets/googlecloud.png" alt="">
            <img src="../../../assets/behat.svg" alt="">
            <img src="../../../assets/zend.svg" alt="">
            <img src="../../../assets/dokku.png" alt="">
            <img src="../../../assets/laminas .png" alt="">
            <img src="../../../assets/ios.webp" alt="">
            <img src="../../../assets/android.png" alt="">
            <img src="../../../assets/pythonLogo.png" alt="">
            <img src="../../../assets/tensorlogos.png" alt="">
        </div>
    </div>
  </div>
</div>
