<div class="about__main" id="process">
  <div class="about__wrapper">
    <div class="about__left" data-aos="zoom-in" data-aos-offset="-550">
      <div class="img"></div>
    </div>
    <div
      class="about__right"
      data-aos="fade-in"
      data-aos-offset="-250"
      data-aos-easing="ease-in-sine"
    >
      <h2 class="head__two">See us at work</h2>
      <p class="paragraph1">
        The only reason we are in business is you. Without you, there won't be a
        need for us, so we give our all to make you happy.
      </p>

      <div class="about__rightBottom">
        <div class="about__rightBottomLeft"></div>
        <div class="about__rightBottomRight">
          <div class="card__text">
            <div class="subtitle">Listening to your needs</div>
            <div class="paragraph1">
              We open our minds to understand your needs. Its our first step of
              showing you how committed we are.
            </div>
          </div>
          <div class="card__text push">
            <div class="subtitle">Project discovery</div>
            <div class="paragraph1">
              We help you to explore the most viable approach to solve your
              needs and also provides you with exciting ideas.
            </div>
          </div>
          <div class="card__text">
            <div class="subtitle">Storming our brains</div>
            <div class="paragraph1">
              Understanding your business domain is critical to us, we go the
              extra mile with our thinking caps on.
            </div>
          </div>
        </div>
      </div>
      <div class="about__rightBottom patternTwo">
        <div class="about__rightBottomLeft"></div>
        <div class="about__rightBottomRight">
          <div class="card__text push">
            <div class="subtitle">Getting there</div>
            <div class="paragraph1">
              We are agile in development and design, keeping you in the loop as
              your product evolves.
            </div>
          </div>
          <div class="card__text">
            <div class="subtitle">Delivering the product</div>
            <div class="paragraph1">
              Continuous delivery is critical to your product and we have set up
              our teams to deliver quality products always
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
