<div class="header__main">
  <div class="header__container">
    <div class="hamburger" (click)="modal()">
      <i class="pi pi-bars"></i>
    </div>
    <div class="logo" (click)="scroll('home')">
      <img src="../../../assets/abba-logo.png" alt="" />
    </div>
  </div>
</div>
<div [class]="id ? 'sidebar__main active' : 'sidebar__main'">
  <button class="cancel" (click)="modal()">
    <img src="../../../assets/cancelButton.svg" alt="" />
  </button>
  <div class="sidebar__container">
    <div class="sidebar__left">
      <!-- <button routerLink="/home">Home</button> -->
      <div class="sidebar__left">
        <a (click)="scroll('home')" > Home</a>
        <a (click)="scroll('about')">About Us</a>
        <a (click)="scroll('process')">Process</a>
        <a (click)="scroll('tools')">Tools</a>
        <a (click)="scroll('testimonial')">Testimonial</a>
        <a (click)="scroll('contact')">Contact Us</a>
      </div>
    </div>
    <img class="divider" src="../../../assets/Linesidebar.svg" alt="" />

    <div class="sidebar__right">
      <div class="title">Reach Us</div>
      <div class="sidebar__content">
        <img src="../../../assets/twitterIcon.svg" alt="" />
        <p>@abbaandking</p>
        <img src="../../../assets/locationIcon.svg" alt="" />
        <p>Top floor, 38 Orogun road, Ibadan.</p>
        <img src="../../../assets/emailIcon.svg" alt="" />
        <p>info@abbaandking.com</p>
        <img src="../../../assets/phoneIcon.svg" alt="" />
        <p>(+234) 817 631 7001</p>
      </div>
    </div>
  </div>
</div>
