<div class="hero__main" id="home">
  <div class="home__container">
    <div class="hero__left">
      <h1 class="head__one">
        Providing
        <p>Solutions for</p>
        <p class="flex">
          Business
          <ngx-typed-js
            [strings]="['Growth', 'Goals.']"
            [loop]="true"
            [showCursor]="true"
            [typeSpeed]="100"
            [backSpeed]="100"
            [smartBackspace]="true"
          >
            <span class="typing head__one"></span>
          </ngx-typed-js>
        </p>
      </h1>
      <p class="sub__title"> Software Development & Artificial Intelligence Experts</p>
      <!-- <div>
                <button class="btn">Get started with us <img src="../../../assets/arrowIcon.svg" alt=""></button>

               </div> -->
    </div>

    <div class="hero__right">
      <img src="../../../assets/globe.png" alt="" />
    </div>
  </div>
</div>
