<div class="main__container bg-[var(--bg-color)] text-center py-0 md:py-0">
  <div class="main__wrapper w-full md:w-[85%] mx-auto">
    <div class="h3 pb-2 md:pb-2">
      Together, we’ll build technology that matters
    </div>
    <div class="paragraph-2 pb-4 md:pb-8">
      <p>We made some friends while doing that</p>
    </div>
    <div class="mb-0 md:mb-[7%]">
      <img
        src="../../../assets/Desktop-logos.png"
        alt=""
        class="hidden md:block"
      />
      <img
        src="../../../assets/mobile-logo.png"
        alt=""
        class="block md:hidden"
      />
    </div>
  </div>
</div>
