<div class="footer__main" id="contact">
  <div class="footer__container">
    <div class="footer__top">
      <p class="paragraph" data-aos="fade-up" data-aos-offset="-350">
        GET IN TOUCH WITH US
      </p>
      <h2 class="head__two" data-aos="fade-up" data-aos-offset="-450">
        You can find us literally anywhere, just push a button and we are there
      </h2>
    </div>
    <div class="footer__bottom">
      <div class="div">
        <img src="../../../assets/twitterIcon.svg" alt="" />
        <div class="text">@abbaandking</div>
      </div>
      <div class="div">
        <img src="../../../assets/locationIcon.svg" alt="" />
        <div class="text">Top floor, 38 Orogun road, Ibadan.</div>
      </div>
      <a href="mailto:info@abbaandking.com" class="div">
        <img src="../../../assets/emailIcon.svg" alt="" />
        <div class="text">info@abbaandking.com</div>
      </a>
      <a class="div" href="tel:+2348176317001">
        <img src="../../../assets/phoneIcon.svg" alt="" />
        <div class="text">(+234) 817 631 7001</div>
      </a>
    </div>
  </div>

  <div class="policy__links footer__container">
    <div class="privacy__policy">
      <a class="div" routerLink="/privacy-policy">
        <div class="text">Privacy Policy</div>
      </a>
    </div>
    <div class="Terms__conditions">
      <a class="div" routerLink="/terms-conditions">
        <div class="text">Terms & Conditions</div>
      </a>
    </div>
  </div>
</div>
