@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --dark-blue: #011d67;
  --dark-blue-2: #01123c;
  --pry-col: #111111;
  --bg-color: #f9f9ff;
  --white: #ffffff;
}

body {
  background-color: var(--bg-color);
  font-family: "Aeonik", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Aeonik";
  src: url("assets/font/Aeonik-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Aeonik";
  src: url("assets/font/Aeonik-Regular.ttf");
  font-weight: 500;
}

.footer__container {
  @apply w-[95vw] h-auto  md:w-[95vw] md:h-auto  mx-auto;
}

.footer__wrapper {
  @apply w-full md:w-full h-auto md:h-auto p-10;
}

.main__container {
  @apply w-[100vw] h-auto  md:w-full md:h-auto;
}

.main__wrapper {
  @apply w-full md:w-full h-auto md:h-full p-8 md:p-20;
}

.h1 {
  @apply text-[2.1rem]  leading-[1.1] pb-4 md:text-[4rem] lg:text-[5] md:pb-4 lg:pb-4 md:tracking-[0.5px] font-bold;
}

.h2 {
  @apply text-[1.4rem] md:text-[2.0rem] lg:text-[2.0rem] leading-[1.2] font-black md:tracking-[0.5px];
}

.h3 {
  @apply text-[1rem] md:text-[1.25rem] lg:text-[1.25rem] font-bold md:tracking-[0.5px];
}

.h4 {
  @apply text-[1rem] md:text-[1.3rem] lg:text-[1.8rem] font-medium md:tracking-[-2.0px];
}

.paragraph {
  @apply text-[17px] md:text-[1.125rem] lg:text-[1.125rem]  font-normal  leading-relaxed md:leading-normal md:tracking-[0.6px];
}

.paragraph-2 {
  @apply text-[0.813rem] md:text-[0.813rem] lg:text-[0.813rem]  font-normal leading-relaxed md:leading-normal md:tracking-[0.6px];
}

.paragraph-3 {
  @apply text-[0.938rem] md:text-[1rem] lg:text-[1rem]  font-normal leading-relaxed md:leading-normal md:tracking-[0.6px];
}

.primary__button {
  @apply h-[50px]   px-6 w-fit   lg:px-6 md:w-fit  bg-[var(--dark-blue)] flex rounded-lg                 lg:bg-[var(--dark-blue)] md:flex md:rounded-lg text-white hover:bg-[var(--dark-blue-2)] hover:text-white transition-colors duration-300;
}

.primary__button__mobile {
  @apply h-[50px]   px-6 w-full  lg:px-6 md:w-full  bg-[var(--dark-blue)] flex items-center justify-center rounded-lg                 lg:bg-[var(--dark-blue)] md:flex md:rounded-lg text-white hover:bg-[var(--dark-blue-2)] hover:text-white transition-colors duration-300;
}

.secondary__button {
  @apply lg:h-[50px] lg:px-6 md:w-fit lg:bg-none md:flex md:rounded-lg text-[var(--pry-color)]  border-2 border-[var(--dark-blue)] hover:bg-[var(--dark-blue)] hover:text-white transition-colors duration-300;
}

.p-carousel .p-carousel-content .p-carousel-next {
  @apply hidden md:block;
}
.p-carousel .p-carousel-content .p-carousel-prev {
  @apply hidden md:block;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  @apply bg-[var(--dark-blue)] rounded-2xl !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  @apply rounded-2xl !important;
}
