<div class="client__main">
  <div class="client__container">
    <div class="client__top">
      <p class="paragraph" data-aos="fade-up" data-aos-offset="-350">
        SOME OF OUR CLIENTS
      </p>
      <h2 class="head__two" data-aos="fade-up" data-aos-offset="-250">
        We made some friends while working together.
      </h2>
    </div>

    <div class="clients" data-aos="fade-in" data-aos-offset="-350">
      <div class="imgCard">
        <img src="../../../assets/Heirs Life.png" alt="" />
        <img src="../../../assets/heirs-insurance.png" alt="" />
        <img src="../../../assets/riverstate.png" alt="" />
        <img src="../../../assets/Heritage-bank.png" alt="" />
        <img src="../../../assets/universityIbadan.png" alt="" />
        <img src="../../../assets/total.webp" alt="" />
        <img src="../../../assets/totaldata.png" alt="" />
        <img src="../../../assets/CRAWFORD-UNIVERSITY.svg" alt="" />
        <img src="../../../assets/eulogo.jpeg" alt="" />
        <img src="../../../assets/avon-medical-practice-1.webp" alt="" />
        <img src="../../../assets/HH-Logo-Africa-Centred-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
